<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{{ site.description }}">


    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div class=" container">
        <section>
            <div class=" sidebar">
                <div class="profile">
                    <div class="profile-picture"></div>
                    <a href="/" class="logo">{{ site.title }}</a>
                    <p class="description">{{ site.description }}</p>
                    <div class="social-media">
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <image class="icon" src="/assets/svg/twitter.svg"></image>
                        </a>
                        <a href="https://github.com/{{ site.github_username }}">
                            <image class="icon" src="/assets/svg/github.svg"></image>
                        </a>
                        <a href="{{ site.stackoverflow_userpage }}">
                            <image class="icon" src="/assets/svg/stackoverflow.svg"></image>
                        </a>
                    </div>
                </div>
                <!--
                <div class="projects">
                    <h2 class="text-category">Projects</h2>
                    {% for item in site.data.projects %}
                    <a href="{{ item.link }}">{{ item.name }}</a>
                    {% endfor %}
                </div>
                <div class="projects">
                    <h2 class="text-category">Navigation</h2>
                    {% for item in site.data.navigation %}
                    <a class="link {% if page.url == item.link %}selected {% endif %}" href="{{ item.link }}">
                        {{ item.name }}
                    </a>
                    {% endfor %}
                </div>
                -->
            </div>