.posts {
    order: 1;
    background-color: white;
    padding: 20px 20px;
    flex: 1;    // Grow the page so that it takes up the available space
    line-height: $default-line-spacing;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;

    .post {
        background-color: white;
        margin-bottom: 20px;
        border-bottom: 2px solid $faded-color;

        .post-image {
            height: 400px;
            overflow: hidden;
            display: none;

            .post-image-child {
                background-color: $faded-color;
                background-size: cover;
                width: 100%;
                height: 100%;
                background-position: center;
                transition: all 0.2s ease;
            }
        }

        .post-information {
            padding: 20px;

            .excerpt-content {
                opacity: 0.8;
            }

            .post-date {
                padding-bottom: 10px;
            }
        }
    }

    .post:hover .post-image-child,
    .post:focus .post-image-child {
        transform: scale(1.2);
    }
}

@media only screen and (max-width: $mobile-viewport) {
    .posts {
        padding: 0;
        margin: 0;
        width: auto;
        .post {
            margin-left: 0;
            margin-right: 0;
            overflow: hidden;

            .post-image {
                height: 175px;
            }
        }
    }
}