.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        opacity: 1;
        color: white;
        flex: 1 0 calc(50% - 40px);
        margin: 20px;
    }

    .portfolio-item {
        background-color: $floating-color;
        cursor: pointer;
        transition: 0.2s all ease;
        border: 0px solid $accent-color;
        border-color: $accent-color;

        .project-image {
            height: 300px;
            background-color: $dark-floating-color;
        }

        .project-info {
            padding: 20px;

            .project-title {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
    }
}

.portfolio .portfolio-item:hover {
    border-left: 20px solid $accent-color;
    flex: 1 0 calc(25% - 60px);
}

@media only screen and (max-width: $tablet-viewport) {
    .portfolio a {
        flex-basis: calc(100% - 40px);
    }
}
