.content-container {
    margin-left: 440px;
}

.post-content, .posts {
    max-width: 900px;
    margin: 0 auto;
    padding: 125px 100px 10px;
    line-height: $default-line-spacing;
    overflow: hidden;
    margin-bottom: 100px;

    .post-title {
        font-size: $title-size;
        font-family: $header-font;
        color: $text-color;
    }

    .post-date {
        display: inline;
    }

    .post-writing {
        margin-top: 75px;
        margin-bottom: 100px;

        p {
            font-size: $default-size;
        }
    }

    .post-tags-border {
        display: inline;
        background-color: $accent-color;
        margin: 0px 10px;
        border-radius: 5px;
    }

    .post-tags {
        display: inline;
        color: white;
        padding: 10px 10px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }

    #back-arrow {
        width: 50px;
        height: 50px;
    }

    #appreciation-text {
        display: inline;
        font-family: $header-font;
        opacity: 0.25;
        padding-bottom: 0px;
        font-size: 14px;
        line-height: 25px;
        float: right;
        vertical-align: middle;
    }

    #appreciation-heart {
        display: inline-block;
        height: 25px;
        float: right;
        padding-right: 5px;
        vertical-align: middle;
    }
}

@media only screen and (max-width: $tablet-viewport) {
    .post-content, .posts {
        width: auto;
        flex: 0;
    }

    .content-container {
        margin-left: 240px;
    }
}

@media only screen and (max-width: $mobile-viewport) {
    .post-content, .posts {
        width: auto;
        flex: 0;
        padding: 25px;
    }

    .content-container {
        margin-left: 0px;
    }
}