.post-content, .posts {
    margin-left: 440px;
    max-width: 800px;
    padding: 125px 100px;
    line-height: $default-line-spacing;
    overflow: hidden;

    .post-title {
        font-size: $title-size;
        font-family: $header-font;
        color: $text-color;
    }

    .post-date {
        display: inline;
    }

    .post-writing {
        opacity: 0.75;
        margin-top: 75px;

        p {
            font-size: $default-size;
        }
    }

    .post-tags-border {
        display: inline;
        background-color: $accent-color;
        margin: 0px 10px;
        border-radius: 5px;
    }

    .post-tags {
        display: inline;
        color: white;
        padding: 10px 10px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }
}

@media only screen and (max-width: $tablet-viewport) {
    .post-content, .posts {
        margin-left: 240px;
        width: auto;
        flex: 0;
    }
}

@media only screen and (max-width: $mobile-viewport) {
    .post-content, .posts {
        margin: 0;
        width: auto;
        flex: 0;
        padding: 50px;
    }
}