.sidebar {
    position: fixed;
    width: 440px;
    padding: 20px 0px;
    background-color: $floating-color;
    transition: 0.2s all ease;
    z-index: 1;
    height: 100%;

    .profile {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        width: 440px;
        padding: 0 0px;

        .logo {
            display: block;
            font-size: $header-size;
            color: $accent-color;
            font-size: $logo-size;
            font-weight: bold;
            text-align: center;
            opacity: 1;
            margin-bottom: 10px;
            font-family: $header-font;
        }

        .profile-picture {
            height: 200px;
            width: 200px;
            background-image: url("/assets/images/profile-picture.png");
            background-color: $dark-floating-color;
            background-size: 250px;
            background-position: center;
            border-radius: 100px;
            margin: 0px auto;
            margin-bottom: 25px;
        }

        .description {
            opacity: 0.8;
            font-size: $small-size;
            text-align: center;
        }

        .links {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $dark-floating-color;

            a {
                padding: 20px 0;
                cursor: pointer;
                width: 100%;
                text-align: center;
                border-color: $accent-color;
                border-left: 0px solid $accent-color;
            }

            a:hover {
                border-left: 10px solid $accent-color;
                width: calc(100% - 10px);
                background-color: $background-color;
                color: white;
            }

            a.active {
                border-left: 10px solid $accent-color;
                width: calc(100% - 10px);
                background-color: $background-color;
                color: white;
            }
        }

        .social-media {
            a {
                opacity: 1;
            }

            a:hover {
                background-color: $background-color;
            }

            display: flex;
            justify-content: space-evenly;
            background-color: $dark-floating-color;

            .icon {
                width: 30px;
                padding: 20px;
            }
            .icon path {
                fill: #8d8d8d;
                transition: all 0.2s ease;
            }
            .icon:hover path {
                opacity: 1;
                cursor: pointer;
            }
            #twitter:hover path {
                fill: #1da1f2;
            }
            #github:hover path {
                fill: white;
            }
            #stackoverflow:hover path {
                fill: #f48024;
            }
        }
    }
}

@media only screen and (max-width: $tablet-viewport) {
    .sidebar {
        width: 300px;

        .profile {
            width: 300px;

            .profile-picture {
                height: 150px;
                width: 150px;
                background-size: 200px;
            }
        }
    }
}

@media only screen and (max-width: $mobile-viewport) {
    .sidebar {
        max-width: none;
        height: auto;
        width: 100%;
        padding: 0;
        min-height: auto;
        position: relative;
        top: auto;
        left: auto;

        .profile {
            // border-bottom: none;
            // padding-bottom: 0;
            position: relative;
            transform: translateY(0);
            width: 100%;
            padding-top: 20px;

            .profile-picture {
                display: none;
            }
        }

        .projects {
            padding: 20px 20px;
        }
    }

    .description {
        margin: 0 20px;
    }
}
