<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar">
        <a href="/" class="logo">{{ site.title }}</a>
        {% for item in site.data.navigation %}
        <a class="link {% if page.url == item.link %}selected {% endif %}" href="{{ item.link }}">
            {{ item.name }}
        </a>
        {% endfor %}
    </nav>
    <div class=" container">
        <section>
            <div class=" sidebar">
                <div class="profile">
                    <image class="profile-picture"></image>
                    <p class="description">{{ site.description }}</p>
                    <div class="social-media">
                        <a href="https://twitter.com/zacharyvincze">
                            <image class="icon" src="/assets/svg/twitter.svg"></image>
                        </a>
                        <a href="https://github.com/zacharyvincze">
                            <image class="icon" src="/assets/svg/github.svg"></image>
                        </a>
                        <a href="https://stackoverflow.com/users/5182842/zachary-vincze">
                            <image class="icon" src="/assets/svg/stackoverflow.svg"></image>
                        </a>
                    </div>
                </div>
                <div class="projects">
                    <h2>Projects</h2>
                    {% for item in site.data.projects %}
                    <a href="{{ item.link }}">{{ item.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="page-content">
                {{content}}
            </div>
        </section>
    </div>
</body>

</html>