<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar">
        <a href="/" class="logo">{{ site.title }}</a>
        {% for item in site.data.navigation %}
        <a class="link {% if page.url == item.link %}selected {% endif %}" href="{{ item.link }}">
            {{ item.name }}
        </a>
        {% endfor %}
    </nav>
    <div class=" container">
        {{content}}
    </div>
</body>

</html>