{% include header.html %}
<div class="content-container">
    <div class="post-content" id="post-content">
        <a href="/"><svg id="back-arrow" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48"
                viewBox="0 0 172 172" style=" fill:#FFFFFF;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#ffffff">
                        <path
                            d="M71.66667,35.32943l-50.67057,50.67057l50.67057,50.67057l10.75,-10.75l-32.75391,-32.7539h100.83724v-14.33333h-100.83724l32.75391,-32.75391z">
                        </path>
                    </g>
                </g>
            </svg>
        </a>
        <h1 class="post-title">{{ page.title }}</h1>
        <h2 class="post-date text text-faded">{{ page.date | date: "%-d.%m.%Y" }} | Written by {{ page.author }}</h2>
        {% for tag in page.tags %}
        <div class="post-tags-border">
            <h2 class="post-tags text">{{tag}}</h2>
        </div>
        {% endfor %}
        <div class="post-writing">
            {{content}}
        </div>
        <p id="appreciation-text">Thanks for reading! </p>
        <svg id="appreciation-heart" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
            viewBox="0 0 172 172" style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#e74c3c">
                    <path
                        d="M118.25,21.5c-20.7475,0 -32.25,14.97833 -32.25,14.97833c0,0 -11.5025,-14.97833 -32.25,-14.97833c-21.77233,0 -39.41667,17.64433 -39.41667,39.41667c0,29.89217 35.20267,58.85983 45.01383,68.01167c11.30183,10.535 26.65283,24.08 26.65283,24.08c0,0 15.351,-13.545 26.65283,-24.08c9.81117,-9.15183 45.01383,-38.1195 45.01383,-68.01167c0,-21.77233 -17.64433,-39.41667 -39.41667,-39.41667z">
                    </path>
                </g>
            </g>
        </svg>
    </div>
</div>

{% include footer.html %}